<h1>Listing schools</h1>

<table class="table table-bordered" id="schools">
  <thead>
    <tr>
      <td>Name</td>
      <td>Longitude</td>
      <td>Latitude</td>
      <td>Route</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.longitude %></td>
        <td><%= school.latitude %></td>
        <td><%= school.route %></td>
        <td><%= link_to 'Edit', edit_school_path(school), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
<script type="text/javascript" charset="utf-8">
</script>
