<h1>Listing routes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Route code</th>
      <th>Kitchen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= route.route_code %></td>
        <td><%= route.kitchen %></td>
        <td><%= link_to 'Edit', edit_route_path(route), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %>
